@import "../../../styles";

.modal {
  &_open {
  }

  &__header {
    h2 {
      @include roboto-28-bold;
    }

    &_align {
      &_start {
        text-align: start;
      }
      &_center {
        text-align: center;
      }
      &_end {
        text-align: end;
      }
    }
  }

  &__content {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
  }

  &__footer {
    margin-top: 32px;
  }

  &__default {
    padding: 40px;
    color: $color-text;

    &_size {
      &_small {
        width: 40vw;
        height: 40vh;
      }

      &_medium {
        width: 60vw;
        height: 60vh;
      }

      &_large {
        width: 80vw;
        height: 80vh;
      }
    }

    &_button {
      &_close {
        width: 20px;
        height: 20px;

        svg {
          fill: $color-dark-gray;
          transition: all 0.15s;
        }

        &:hover {
          svg {
            fill: $color-suit-gray;
          }
        }
      }
    }
  }
}

/* ----- Modal center ----- */
.react-responsive-modal-root .react-responsive-modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
